@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('OpenSans-Bold-webfont.woff') format('woff'), url('OpenSans-Bold-webfont.ttf') format('truetype'), url('OpenSans-Bold-webfont.svgOpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 600
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.widget {
    display:inline;
    float: left;
    text-align: center;
    height: 13em;
    width: 15em;
    clear: both;
    /*padding-top: 2em;*/
    margin: 10px;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}



body {
    background-color: #f6f4ec;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#d7d3c8), to(#f6f4ec));
    background-image: -moz-linear-gradient(#d7d3c8, #f6f4ec);
    background-image: -ms-linear-gradient(#d7d3c8, #f6f4ec);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7d3c8), color-stop(100%, #f6f4ec));
    background-image: -webkit-linear-gradient(#d7d3c8, #f6f4ec);
    background-image: -o-linear-gradient(#d7d3c8, #f6f4ec);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d3c8', endColorstr='#f6f4ec', GradientType=0)";
    background-image: linear-gradient(#d7d3c8, #f6f4ec);

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444444;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    /*background-color: #FFFFF0;*/
    height: 100%;
    line-height: 20px;

}

.menu {
    font-size: 0.8em;
    font-family: Arial;
}

.menu li {
    list-style-type: none;
    list-style-position: outside;
    margin-left: -15px;
    padding: 0pt;
}

.menu .ui-menu-header {
    font-size: 1.4em;
}

.menu .ui-selecting {
    color: #CC4433;
}

.menu .ui-selected {
    color: #4477CC;
    list-style-type: disc;
}

.large {
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
}
h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 100%;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 100%;
}
.small, small {
  font-size: 12px;
  line-height: 100%;
}

.items .info {
    float: left;
    display: block;
    width: 70%
}

.items a {
    float: left;
    width: 230px;
}

.warning {
    font-size:1.0em;
    font-weight: bold;
    color: red;
}

table tr {
}

table tr td {
    vertical-align: top;
    padding: 3px;
    border-top: 2px solid black;
}




.parameters {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.parameters span.parameter_name {
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

.parameters span.parameter_error {
    color: red;
}

#status {
    color: red;
    text-align: center;
    font:20px arial,sans-serif;
}

#testMessage {
    text-align: center;
    font: 12px arial,sans-serif;
}

